node_modules/
.svelte-kit/
__pycache__/
venv/
.env
.DS_Store
.antigravity-server/
.antigravity/
.cache/
.docker/
.dotnet/
.gemini/
.local/
.ssh
.vscode-server/
.bash_history
.bashrc
.profile
.wget-hsts
.docker-compose.yml.swp
